@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.todo {
  padding: 10px;
  background-color: #0d0d0d;
  height: 200px;
  position: relative;
}

.todo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-img {
  margin-right: 12px;
}

.todo__row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 173px;
  right: 0;
  left: 0;
}

.todo__input {
  width: 638px;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #262626;
  outline: none;
  gap: 8px;
  color: #f2f2f2;
}

.btn {
  color: #f2f2f2;
  background-color: #1e6f9f;
  margin-left: 8px;
  border-radius: 8px;
  padding: 16px 40px 16px 16px;
}
.todo__btn {
  position: relative;
}
.logo__plus {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.main__content {
  padding-top: 64px;
  background-color: #1a1a1a;
  min-height: 100vh;
}

.todo__menu {
  margin: 0 auto;
  max-width: 736px;
  padding: 64px 0 24px;
  height: 100%;
}
.todo__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.created {
  margin-right: 486px;
  font-size: 14px;
  font-weight: 700;
  color: #4ea8de;
}

.done {
  font-size: 14px;
  font-weight: 700;
  color: #8284fa;
}
