@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.todo {
  padding: 10px;
  background-color: #0d0d0d;
  height: 200px;
  position: relative;
}

.todo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-img {
  margin-right: 12px;
}

.todo__row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 173px;
  right: 0;
  left: 0;
}

.todo__input {
  width: 638px;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #262626;
  outline: none;
  gap: 8px;
  color: #f2f2f2;
}

.btn {
  color: #f2f2f2;
  background-color: #1e6f9f;
  margin-left: 8px;
  border-radius: 8px;
  padding: 16px 40px 16px 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.todo__btn {
  position: relative;
}

.btn:hover {
  transform: perspective(500px) rotateX(-30deg);
  box-shadow: 0 5px 15px rgba(236, 231, 231, 0.5);
}
.btn:active {
  transform: perspective(500px) rotateX(0deg) translateZ(-10px);
  box-shadow: 0 2px 5px rgba(236, 231, 231, 0.3);
  transition: transform 0.05s, box-shadow 0.05s;
}

.logo__plus {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.main__content {
  padding-top: 64px;
  background-color: #1a1a1a;
  min-height: 100vh;
}

.todo__menu {
  margin: 0 auto;
  max-width: 736px;
  padding: 64px 0 24px;
}
.todo__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.created {
  font-size: 14px;
  font-weight: 700;
  color: #4ea8de;
  display: flex;
  align-items: center;
  gap: 8px;
}

.done {
  font-size: 14px;
  font-weight: 700;
  color: #8284fa;
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter {
  border-radius: 50%;
  background-color: #333333;
  padding: 2px 8px;
  color: #d9d9d9;
}

.empty__desc {
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-top: 1px solid #333333;
  border-radius: 8px;
  margin-top: 24px;
}

.clipboard {
  margin-top: 64px;
}

.empty__task {
  font-size: 16px;
  color: #808080;
  letter-spacing: 1px;
}

.todo__task {
  height: 72px;
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
}

.todo__task li {
  font-size: 14px;
  padding: 12px 10px 12px 50px;
  position: relative;
}
.todo__task li {
}
.todo__task li:before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4ea8de;
  top: 26px;
  left: 19px;
}

.todo__task-item.checked::after {
  cursor: pointer;
  content: "\2714";
  position: absolute;
  top: 26px;
  left: 23px;
  color: #f2f2f2;
}

.todo__task-item.checked {
  text-decoration: line-through;
  color: #808080;
}
.todo__task-item.checked::before {
  border-color: #5e60ce;
  background-color: #5e60ce;
}

.todo__task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  margin-bottom: 12px;
  height: 72px;
  padding: 0 16px;
}

/* .hidden {
  display: none;
} */
